.gbcc-gallery img {
  // in Gallery tab, a row can have 7 images at 122px, 6 at 146px and 5 at 179px
  width: 173px;
  height: 173px;
  margin: 8px;
  cursor: pointer;
  border:5px solid white;
}

.gbcc-gallery {
  -ms-flex: 1;
      flex: 1;
  margin-top: 0;
  border:2px solid black;
  padding-top: 10px;
  padding: 15px;
  border-bottom:0px;
}

.gbcc-gallery img:hover {
  border:5px solid white;
}

.gbcc-gallery img:not(.selected,:hover) {
  border:5px solid white;
}

.gbcc-gallery img.selected {
  border:5px solid yellow;
}

.gbcc-gallery img.lastSelected {
  border:5px solid yellow;
}
